<% layout('layouts/main.ejs') %>

<h1>Profile</h1>
<%if (email) {%>
  <h4><%= email %></h4>
<% } %>
<a href="/logout">logout</a> 
<a href="/list/">lists</a> 
<!-- <a href="/list/:idList/pin:idPin">list/id/pin</a>  -->
<!-- <a href="/list/idList/share">list/id/share</a>  -->
